[Unit]
Description=UDP Traffic Generator
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/udp-traffic-gen
ExecStart=/root/udp-traffic-gen/venv/bin/python3 /root/udp-traffic-gen/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
